:root {
  --first-color: #17223E;
  --second-color: #D32811;
  --third-color: #235EE7;
  --fourth-color: #9765D8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}